.mu-center-narrow {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto
}

.mu-text-allcaps {
    text-transform: uppercase;
}

.mu-text-bold {
    font-weight: 700;
}

.mu-style-caption {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #666666;
    margin-top: -8px;
}

.mu-style-subtitle {
    font-size: 20px!important;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto
}

.mu-display-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.mu-footer {
    height: 48px;
    width: 100%;
}

.mu-hasfooter {
    min-height: calc(100vh - 48px);
}