html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;

    color: #ffffff;
    background-color: #000000;
}

html {
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;

    clear: both;

    margin: 0;
}

h1 {
    font-size: 32px;
    line-height: 40px;

    margin-bottom: 16px;
}

h2 {
    font-size: 40px;

    margin-bottom: 16px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    margin-bottom: 8px;
}

a {
    text-decoration: none;

    color: rgb(10, 132, 255);
}

/* HEADER */

header {
    margin-bottom: 32px;
}
.mu-label {
    margin-bottom: 0;
}
.mu-value {
    color: #ffffff;
}

header > a {
    display: block;

    margin-top: 24px;
}

/* SECTION */

section {
    margin: 0 0 32px 0;
    padding: 24px 0 0 0;

    border-top: 1px solid #666666;
}

p {
    margin: 0 0 8px 0;

    color: #666666;
}

section > a {
    display: block;

    margin: 0 0 8px 0;
}

/* CLASSES */

.mu-container {
    max-width: 512px;
    margin: 0 auto;
    padding: 24px;
}

/*
.mu-container:after,
.mu-container:before {
    content: '';
    display: table;
    clear: both;
}
*/

.mu-type {
    font-weight: 500;
    line-height: 16px;

    float: left;

    margin-bottom: 16px;

    color: #666666;
}

.mu-date {
    font-weight: 500;
    line-height: 16px;

    float: right;

    margin-bottom: 0;

    color: #666666;
}

.mu-description {
    font-weight: 500;

    margin: 0 0 8px 0;

    color: #ffffff;
}

.mu-external:after {
    content: " ↗︎";
}
